{% include 'header.html' %}
{% autoescape true %}
<html>
  <body>
    <div class="content">
      {% include 'title.html' %}
      {% if no_hero %}
        You don't has a hero!
        {% include 'herocreation.html' %}
      {% else %}
        You has a hero!
      {% endif %}
      <form action="/battle" method="get">
        <input type='submit' value="battle"/>
      </form>
      <form action="/items" method="get">
        <input type='submit' value="show me my items"/>
      </form>
      {% if log %}
        <div>
          <div class="hero-image"></div>
          <h2>VS.</h2>
          {% if enemy == 'Rat' %}
            <div class="rat-image"></div>
          {% elif enemy == 'Snake' %}
            <div class="snake-image"></div>
          {% elif enemy == 'Wolf' %}
            <div class="wolf-image"></div>
          {% else %}
            <div class="bear-image"></div>
          {% endif %}
        <div>
        {% if victory %}
          <h2>You Win!</h2>
          You received a {{item_for_winning.display_name}}
        {% else %}
          <h2>You Lose!</h2>
        {% endif %}
        <div>
          {% autoescape false %}
            {{log}}
          {% endautoescape %} 
        </div>
      {% endif %}
      <a href="{{ url|safe }}">{{ url_linktext }}</a>
    </div>
  </body>
</html>
{% endautoescape %}