{% include 'header.html' %}
{% autoescape true %}
<html>
  <body>
    <div class="content">
      {% include 'title.html' %}
      {% if no_hero %}
        You don't has a hero!
        {% include 'herocreation.html' %}
      {% else %}
        You has a hero!
      <form action="/battle" method="get">
        <input type='submit' value="battle"/>
      </form>
      <form action="/items" method="get">
        <input type='submit' value="show me my items"/>
      </form>
      {% endif %}
      
      {% if log %}
        <div>
          <div>
            <table class="hero-description-table">
            {% for key in hero.keys() %}
            <tr>
              <td>
                {{key}}
              </td>
              <td>
                {{hero[key]}}
              </td>
            </tr>
            {% endfor %}
            <table>
          </div>
          <div class="hero-image"></div>
          <h2>VS.</h2>
          <div class="{{enemy_image}}"></div>
        <div>
        {% if victory %}
          <h2>You Win!</h2>
          You received a {{item_for_winning.display_name}}!
          <div>
            You gained {{experience_gained}} experience and {{gold_for_winning}} gold!
          </div>
        {% else %}
          <h2>You Lose!</h2>
        {% endif %}
        <div>
          {% autoescape false %}
            {{log}}
          {% endautoescape %} 
        </div>
      {% endif %}
      <a href="{{ url|safe }}">{{ url_linktext }}</a>
    </div>
  </body>
</html>
{% endautoescape %}