{% include 'header.html' %}
{% autoescape true %}
<html>
  <body>
    <div class="content">
      {% include 'title.html' %}
      <h2>
        Your items!
      </h2>
      <div>
        GOLD: {{stats}}
      </div>
      <form action="/battle" method="get">
        <input type='submit' value="battle"/>
      </form>
      {% for item in items[::-1] %}
        <table class="item-description-table">
          <tr>
            <td>
              Name
            </td>
            <td>
              {{item.display_name}}
            </td>
          </tr>
          <tr>
            <td>
              Rarity
            </td>
            <td>
              {{item.rarity}}
            </td>
          </tr>
          <tr>
            <td>
              Slot
            </td>
            <td>
              {{item.slot}}
            </td>
          </tr>
          {% for affix in item.affixes %}
            <tr>
              <td>
                {{affix.display_name}}
              </td>
              <td>
                {{affix.value}}
              </td>
            </tr>
          {% endfor %}
          <tr>  
            <td>
              <form action="/equip" method="get">
                <input type="hidden" name="item" value="{{item.string}}"></input>
                <input type='submit' value="equip"/>
              </form>
            </td>
            <td>
              <form action="/sell" method="get">
                <input type="hidden" name="item" value="{{item.string}}"></input>
                <input type='submit' value="sell"/>
              </form>
            </td>
          </tr>
        </table>
      {% endfor %}
    </div>
  </body>
</html>
{% endautoescape %}