{% include 'header.html' %}
{% autoescape true %}
<html>
  <body>
    <div class="content">
      {% include 'title.html' %}
      <h2>
        Your items!
      </h2>
      <form action="/sell_all_common" method="get">
        <input type='submit' value="Sell all Common Items"/>
      </form>
      <form action="/sell_all_uncommon" method="get">
        <input type='submit' value="Sell all Uncommon Items"/>
      </form>
      <table class="stat-description-table">
        <div>
          <tr>
            <td>
              GOLD: {{stats.gold}}
            </td>
            <td>
              EXP: {{stats.exp}}
            </td>
            <td>
              LEVEL: {{stats.level}}
            </td>
          </tr>
        </div>
      </table>
      <div>
        <table class="hero-description-table">
        {% for key in hero.keys() %}
          <tr>
            <td>
              {{key}}
            </td>
            <td>
              {{hero[key]}}
            </td>
          </tr>
        {% endfor %}
        <table>
      </div>
      {% for item in items[::-1] %}
        <table class="item-description-table">
          <tr>
            <td>
              Name
            </td>
            <td>
              {{item.display_name}}
            </td>
          </tr>
          <tr>
            <td>
              Rarity
            </td>
            <td>
              {{item.rarity}}
            </td>
          </tr>
          <tr>
            <td>
              Slot
            </td>
            <td>
              {{item.slot}}
            </td>
          </tr>
          {% if item.roll_value > 0 %}
            <tr>
              <td>
                Roll Value
              </td>
              <td>
                {{item.roll_value}}
              </td>
            </tr>
          {% endif %}
          {% for affix in item.affixes %}
            <tr>
              <td>
                {{affix.display_name}}
              </td>
              <td>
                {{affix.value}}
              </td>
            </tr>
          {% endfor %}
          <tr>  
            <td>
              <form action="/equip" method="get">
                <input type="hidden" name="item" value="{{item.string}}"></input>
                <input type='submit' value="equip"/>
              </form>
            </td>
            <td>
              <form action="/sell" method="get">
                <input type="hidden" name="item" value="{{item.string}}"></input>
                <input type='submit' value="sell"/>
              </form>
            </td>
          </tr>
        </table>
      {% endfor %}
    </div>
  </body>
</html>
{% endautoescape %}