{% include 'header.html' %}
{% autoescape true %}
<html>
  <body>
    <div class='content'>
      {% include 'title.html' %}
      <table class="leaderboard-table">
        <tr>
          <th>
            Hero
          </th>
          <th>
            Experience
          </th>
        <tr>
        {% for hero in heros[::-1] %}
          <tr>
            <td>
              {{hero.name}}
            </td>
            <td>
              {{hero.experience}}
            </td>
          <tr>
        {% endfor %}
    </table>
    </div>
  </body>
</html>
{% endautoescape %}