{% include 'header.html' %}
{% autoescape true %}
<html>
  <body>
    <div class='content'>
      {% include 'title.html' %}
        <table class="leaderboard-table">
          <tr>
            <td>
              Hero
            </td>
            <td>
              Experience
            </td>
          <tr>
        {% for user in experience %}
          <tr>
            <td>
              {{user.name}}
            </td>
            <td>
              {{user.experience}}
            </td>
            <td>
              {{user}}
            </td>
          <tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
{% endautoescape %}