{% include 'header.html' %}
{% autoescape true %}
<html>
  <body>
    <div class="content">
      {% include 'title.html' %}
      <table class="item-description-table">
        <tr>
          <td>
            Wins
          </td>
          <td>
            {{wins}}
          </td>
        </tr>
        <tr>
          <td>
            Losses
          </td>
          <td>
            {{losses}}
          </td>
        </tr>
        <tr>
          <td>
            Gold Earned
          </td>
          <td>
            {{gold}}
          </td>
        </tr>
        <tr>
          <td>
            Experience Gained
          </td>
          <td>
            {{xp}}
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
{% endautoescape %}